<turbo-frame id="modal">
  <div class="modal-header">
    <h5 class="modal-title">Editar nรณ</h5>
    <button type="button" class="btn-close" data-action="modal#close"></button>
  </div>
  <div class="modal-body">
    <%= render "course_nodes/form", course: @course, node: @node %>
  </div>
</turbo-frame>