<% content_for :title, "Editar turma" %>

<div class="d-flex justify-content-between align-items-center mb-3">
  <h1 class="h3 m-0">Editar turma</h1>
</div>

<div class="card">
  <div class="card-body">
    <%= render "form", classroom: @classroom %>
  </div>
</div>
